<div class="modal-header">
  <h5 class="modal-title pull-left">{{ title }}</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div *ngFor="let stud of studList">
      <span class="badge bg-primary mr-1"> {{ stud["name"] }}</span>
    </div>
  </div>
  <hr />
  <form class="m-2">
    <div class="form-group">
      <label for="file">Approved Students Form</label>
      <input
        type="file"
        class="form-control"
        (change)="onFileSelected($event)"
        id="file"
        placeholder="Select approval form"
        accept="application/pdf"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="submit()">
    Submit
  </button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
