<div class="pagetitle">
  <h1>Student Approval Status Page</h1>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/bursary/all-students">All Approved Students</a>
        </li>
        <li class="breadcrumb-item active">Student</li>
      </ol>
    </nav>
  </div>
</div>

<!-- <section class="section" *ngIf="studentData$ | async">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ studDetails["name"] }}</h5>
            <button
              class="btn btn-info btn-sm mx-3 w-25"
              (click)="viewStudent()"
              type="button"
            >
              View More Details
            </button>
          </div>
          <hr />

          <p>
            <strong>Gender : </strong>
            <span
              class="{{
                studDetails['gender'] === 'M'
                  ? 'badge bg-success mr-1'
                  : 'badge bg-primary mr-1'
              }}"
            >
              {{ studDetails["gender"] === "M" ? "Male" : "Female" }}
            </span>
          </p>
          <p><strong>Phone : </strong> {{ studDetails["phone"] }}</p>
          <p>
            <strong>Date of Birth : </strong> {{ studDetails["dob"] | date }}
          </p>
          <p><strong>Year of Study : </strong> {{ studDetails["formYear"] }}</p>
          <p><strong>Course : </strong> {{ studDetails["course"] }}</p>
          <p>
            <strong>Constituency : </strong> {{ studDetails["constituency"] }}
          </p>
          <p><strong>Ward : </strong> {{ studDetails["ward"] }}</p>
          <p><strong>Village : </strong> {{ studDetails["village"] }}</p>
          <p>
            <strong>County Stage : </strong>
            <span class="badge bg-primary mr-1">
              {{ studDetails["countyStage"] }}
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">School</h5>
          <p>
            <strong>School/Institution :</strong> {{ studDetails["instName"] }}
          </p>
          <p><strong>Bank Name :</strong> {{ studDetails["instBank"] }}</p>
          <p>
            <strong>Bank Account No :</strong>
            {{ studDetails["instAccNo"] }}
          </p>
          <p>
            <strong>Bank Branch :</strong>
            {{ studDetails["instBranch"] }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card" *ngIf="wardStatData$ | async">
        <div class="card-body">
          <h5 class="card-title">Ward Stage Approval Details</h5>
          <hr />

          <p>
            <strong>Approval Ref :</strong>
            {{ studWardStatus["_id"] }}
          </p>
          <p>
            <strong>Amount :</strong>
            KES {{ studWardStatus["awardedAmount"] }}
          </p>
        </div>
      </div>
      <div class="card" *ngIf="countyStatData$ | async">
        <div class="card-body">
          <h5 class="card-title">County Stage Approval Details</h5>
          <hr />

          <p>
            <strong>Approval Ref :</strong>
            {{ studCountyStatus["_id"] }}
          </p>
          <p>
            <strong>Amount :</strong>
            KES {{ studCountyStatus["awardedAmount"] }}
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Approval Actions</h5>
          <hr />

          <p class="d-flex justify-content-between">
            <button
              class="btn btn-success btn-sm mx-3"
              type="button"
              (click)="approveReject(true)"
              [disabled]="studDetails['countyStage'] !== 'PENDING'"
            >
              Approve
            </button>
            <button
              class="btn btn-danger btn-sm mx-3"
              type="button"
              (click)="approveReject(false)"
              [disabled]="studDetails['countyStage'] !== 'PENDING'"
            >
              Reject
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="mainCont" *ngIf="studentData$ | async">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body text-center">
          <h4>Student Details</h4>
          <hr />
          <div
            class="d-flex flex-column flex-wrap justify-content-center align-items-center"
          >
            <div>
              <img src="./assets/img/user.png" alt="" />
            </div>
            <div class="detailsCont m-1">
              <h5 class="card-title">{{ studDetails["name"] }}</h5>
              <button
                class="btn btn-primary btn-sm w-100"
                (click)="viewStudent()"
                type="button"
              >
                View More Details
              </button>
              <p>
                <strong>Gender : </strong>
                <span
                  class="{{
                    studDetails['gender'] === 'M'
                      ? 'badge bg-success mr-1'
                      : 'badge bg-primary mr-1'
                  }}"
                >
                  {{ studDetails["gender"] === "M" ? "Male" : "Female" }}
                </span>
              </p>
              <p><strong>Phone : </strong> {{ studDetails["phone"] }}</p>
              <p>
                <strong>Date of Birth : </strong>
                {{ studDetails["dob"] | date }}
              </p>
              <p>
                <strong>Year of Study : </strong> {{ studDetails["formYear"] }}
              </p>
              <p><strong>Course : </strong> {{ studDetails["course"] }}</p>
              <p>
                <strong>Constituency : </strong>
                {{ studDetails["constituency"] }}
              </p>
              <p><strong>Ward : </strong> {{ studDetails["ward"] }}</p>
              <p><strong>Village : </strong> {{ studDetails["village"] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body text-center">
          <h4>School</h4>
          <hr />
          <div
            class="d-flex flex-row flex-wrap justify-content-center align-items-start"
          >
            <div class="detailsCont m-2">
              <p>
                <strong>School/Institution :</strong>
                {{ studDetails["instName"] }}
              </p>
              <p><strong>Bank Name :</strong> {{ studDetails["instBank"] }}</p>
              <p>
                <strong>Bank Account No :</strong>
                {{ studDetails["instAccNo"] }}
              </p>
              <p>
                <strong>Bank Branch :</strong>
                {{ studDetails["instBranch"] }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-body text-center">
          <h4>Sponsor Details</h4>
          <hr />
          <div
            class="d-flex flex-row flex-wrap justify-content-center align-items-start"
          >
            <div class="detailsCont m-2">
              <p>
                <strong>Sponsor Name :</strong> {{ studDetails["sponsorName"] }}
              </p>
              <p>
                <strong>Sponsor Occupation :</strong>
                {{ studDetails["sponsorOccupation"] }}
              </p>
              <p>
                <strong>Sponsor Phone :</strong>
                {{ studDetails["sponsorPhone"] }}
              </p>
              <p>
                <strong>Sponsor Relationship :</strong>
                {{ studDetails["sponsorRelationship"] }}
              </p>
              <p>
                <strong>Sponsor children(s) : </strong>
                <span class="badge bg-primary mr-1">
                  {{ studDetails["sponsorChildrenNum"] }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body text-center">
          <h4>Ward Stage Approval Details</h4>
          <hr />
          <div
            class="d-flex flex-row flex-wrap justify-content-center align-items-start"
          >
            <div class="detailsCont m-2">
              <p>
                <strong>Approval Ref :</strong>
                {{ studWardStatus["_id"] }}
              </p>
              <p>
                <strong>Amount :</strong>
                KES {{ studWardStatus["awardedAmount"] }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-body text-center">
          <h4>County Stage Approval Details</h4>
          <hr />
          <div
            class="d-flex flex-row flex-wrap justify-content-center align-items-start"
          >
            <div class="detailsCont m-2">
              <p>
                <strong>Approval Ref :</strong>
                {{ studCountyStatus["_id"] }}
              </p>
              <p>
                <strong>Amount :</strong>
                KES {{ studCountyStatus["awardedAmount"] }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-body text-center">
          <h4>Approval Actions</h4>
          <hr />
          <div
            class="d-flex flex-row flex-wrap justify-content-center align-items-start"
          >
            <div class="detailsCont m-2">
              <p class="d-flex justify-content-between">
                <button
                  class="btn btn-success btn-sm mx-3"
                  type="button"
                  (click)="approveReject(true)"
                  [disabled]="studDetails['countyStage'] !== 'PENDING'"
                >
                  Approve
                </button>
                <button
                  class="btn btn-danger btn-sm mx-3"
                  type="button"
                  (click)="approveReject(false)"
                  [disabled]="studDetails['countyStage'] !== 'PENDING'"
                >
                  Reject
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
