<div class="pagetitle">
  <h1>Users Page</h1>
  <div class="d-flex justify-content-between align-items-center">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">County Users</li>
      </ol>
    </nav>

    <button class="btn bg-primary" (click)="addUser()">
      <p class="text-white">Add County User</p>
    </button>
  </div>
</div>

<section class="section">
  <div class="d-flex justify-content-end">
    <!-- <app-custom-tbl-header
        [allColumns]="allColumns"
        [rows]="filteredRows.length > 0 ? filteredRows : rows"
        [title]="title"
        [showAddButton]="false"
        (changeColumnsEvent)="updateColumns($event)"
      ></app-custom-tbl-header> -->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card p-1">
        <ng-container *ngIf="usersList$ | async"></ng-container>
        <app-custom-tbl
          [columns]="columns"
          [rows]="rows"
          [actions]="actions"
          [loadingIndicator]="false"
          [totalItems]="totalRecords"
          (outputEvent)="triggerEvent($event)"
          (updateFilteredRows)="updateFilteredRowsEvent($event)"
        >
        </app-custom-tbl>
      </div>
    </div>
  </div>
</section>
