<div class="modal-header">
  <h5 class="modal-title pull-left">{{ title }}</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<form class="m-2" id="docForm">
  <div class="form-group">
    <label for="file">Students List</label>
    <div class="d-flex flex-row justify-content-between m-2">
      <input
        type="file"
        class="form-control w-100 h-75 m-1"
        (change)="onFileSelected($event)"
        id="file"
        placeholder="Select student list"
        accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      />
    </div>
  </div>
</form>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    (click)="submit()"
    [disabled]="importedStudents.length == 0"
  >
    Submit
  </button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
